.margin-top__xs {
    margin-top: 3px;
}

.margin-top__sm {
    margin-top: 8px;
}

.margin-top__md {
    margin-top: 10px;
}

.margin-right__sm {
  margin-right: 8px;
}

.margin-top__lg {
    margin-top: 20px;
}

.margin-left__md {
    margin-left: 5px;
}

.margin-bottom__md {
    margin-bottom: 10px;
}

.margin-bottom__lg {
  margin-bottom: 20px;
}

.table.vertical-align tbody > tr > td {
    vertical-align: middle;
}

body {
  padding-bottom: 40px;
}
